################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SharedFlat/obj
/SharedFlat.Sample/obj
/SharedFlat/bin/Debug
/SharedFlat.Sample/bin/Debug/netcoreapp2.1
/SharedFlat.Sample/SharedFlat.Sample.csproj.user
/SharedFlat.Sample.Abc/obj
/SharedFlat.Sample.Abc/bin/Debug/netcoreapp2.1
