################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SharedFlat/bin
/SharedFlat/obj
/SharedFlat.Sample/bin
/SharedFlat.Sample/obj
/SharedFlat.Sample.Abc/bin
/SharedFlat.Sample.Abc/obj
*.user
*.suo