################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SharedFlat/obj
/SharedFlat.Sample/obj
