@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Blog>

<tenant name="abc">
    This is tenant ABC!
</tenant>

<tenant name="xyz">
    This is tenant XYZ!
</tenant>

@if (this.IsTenant("xpto"))
{
    <p>Tenant xpto</p>
}

@if (this.IsEnabledForTenant("OptionA"))
{
    <p>Option A is enabled</p>
}

<tenant-partial tenant="xyz" name="xyz_partial"></tenant-partial>

<ul>
@foreach (var blog in Model)
{
    <li>@blog.Name</li>
}
</ul>